<!-- Pulled from https://getbootstrap.com/docs/5.3/examples/sign-in/ -->
<form [formGroup]="form">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="mb-2">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        formControlName="username"
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
  </div>
  <button
    class="w-100 btn btn-lg btn-primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="login()"
  >
    Sign in
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
</form>
