<div class="mb-3">
  <h3>Current Orders</h3>
  <ng-container
    *ngIf="
      ((orders$ | async)! | currentOrders : true).length;
      else noCurrentOrders
    "
  >
    <pizza-orders-table
      [orders]="(orders$ | async)! | currentOrders : true"
      (actionClicked)="onAction($event.action, $event.orderId)"
    ></pizza-orders-table>
  </ng-container>
  <ng-template #noCurrentOrders>
    <div class="text-center">
      <h4>No Current Orders</h4>
      <button class="btn btn-primary" routerLink="/order">
        Create New Order
      </button>
    </div>
  </ng-template>
</div>

<h3>Past Orders</h3>
<pizza-orders-table
  [orders]="(orders$ | async)! | currentOrders"
  (actionClicked)="onAction($event.action, $event.orderId)"
></pizza-orders-table>
