<form *ngIf="form">
  <pizza-form-select
    [control]="form.controls.Table_No"
    label="Table"
    [items]="tables"
  ></pizza-form-select>
  <pizza-form-select
    [control]="form.controls.Crust"
    label="Crust"
    [items]="crusts"
  >
  </pizza-form-select>
  <pizza-form-select
    [control]="form.controls.Size"
    label="Size"
    [items]="sizes"
  ></pizza-form-select>
  <pizza-form-select
    [control]="form.controls.Flavor"
    label="Flavor"
    [items]="flavors"
  ></pizza-form-select>
  <button
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="submitForm(form.value)"
  >
    {{ submitText }}
  </button>
</form>
