<!-- I grabbed this from Bootstrap examples to speed up the process -->
<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100"
  style="width: 280px"
>
  <div
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Pizza Manager</span>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let link of links">
      <a
        [routerLink]="link.value"
        routerLinkActive="active"
        class="nav-link text-white"
        aria-current="page"
      >
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        {{ link.key }}
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown" ngbDropdown>
    <div
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="accountNav"
      ngbDropdownToggle
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Test User</strong>
    </div>
    <div ngbDropdownMenu aria-labelledby="accountNav">
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</div>
